<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 bold-text" id="deleteUserModal">Supprimer Utilisateur</h1>
                <button type="button" class="btn-close" id="closebutton" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Etes-vous sûr de vouloir supprimer cet utilisateur : {{userToDelete?.email}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bold-text" data-bs-dismiss="modal">ANNULER</button>
                <button type="button" class="btn btn-danger bold-text" (click)="delete()">SUPPRIMER</button>
            </div>
        </div>
    </div>
</div>